@charset "UTF-8";


.footer {
    padding-bottom: 1rem !important;
	text-align: center;
    /* height: 62px; */
}

.footer *{
	box-sizing: border-box;
}

.footer_gray {
    background: #faf9f9;
}

footer {
	box-sizing: border-box;
	width: 100%;
	background-color: #faf9f9;
	padding: 2rem 0 6rem;
}

footer, footer a {
    color: #5f5f5f;
}

.footer a {
	color: #5f5f5f;
	text-decoration: none;
}

.footer a:link, a:hover, a:visited {
	color: #5f5f5f;
	text-decoration: none;
}


.container {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}


.d-none {
    display: none!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
}

.ml-3, .mx-3 {
    margin-left: 1rem!important;
}

.mr-3, .mx-3 {
    margin-right: 1rem!important;
}

.ft_logo {
    width: 34px;
}


.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.footerImg_1 {
    width: 100px;
}

@media (min-width: 992px){
	.container {
			max-width: 101rem;
	}
	
	.d-lg-none {
			display: none!important;
	}

	.d-lg-flex {
			display: -ms-flexbox!important;
			display: flex!important;
	}

	.d-lg-inline {
			display: inline!important;
	}
	
	
	.text-lg-left {
			text-align: left!important;
	}

	.mr-lg-5, .mx-lg-5 {
			margin-right: 2rem!important;
	}

	.d-lg-block {
			display: block!important;
	}
}


@media (max-width: 991.98px){
	.footer ul {
			list-style: none;
			padding-left: 0;
			display: block !important;
			text-align: center;
			font-size: 13px;
	}

	.footer ul li + li {
			margin-top: 10px;
	}
}


/*
********************************************************
*/


.toTop {
    position: fixed;
    right: 5vw;
    bottom: -150px;
    z-index: 90 !important;
    display: none;
    width: 60px;
}


.toTop a {
    transition: 0.7s;
}

.page_top_animation {
    animation: float 3s infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-10px);
  }
  88.66667% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.toTop img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


@media (min-width: 992px){
	.toTop {
			right: 5vw;
			width: auto;
	}
}

